body{
    text-align:center;
    
}

.navigation ul {
   text-align: left;

}
.navigation li {
    display: inline-block;
    margin: 35px;
}
.navigation a{
    color:#444;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
}
.banner {
    background-image:
    url("https://images.unsplash.com/photo-1566268341558-0f13d719a62b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1517&q=80");
    background-size: cover;
    width: 100%;
    height: 450px;
}    
.container { 
    width: 100%;
    height: 60px;
    margin: 0 auto;
}
header{
    background-color:  #78ffd6;
}

.banner img{
    border: 3px solid #78ffd6;
    margin: 40px;
}


.interesses img{
    border: 3px solid black;
    border-radius: 100px;
    margin: 25px;
    padding: 5px;
    height: 100px;
    width: 100px;
}

}
.insta {
    margin: 60px;
}
.wpp{
    margin: 60px;
}
.mail{
    margin: 45px;
}

p{
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;

}
h1{
    font-family:'Space Mono', monospace;
    font-size: 35px;
    font-weight: 700;
}
.conteudo{
    background-image: 
    url("https://images.unsplash.com/photo-1566268341558-0f13d719a62b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1517&q=80");
    
}
